:root {
   --orange: hsl(23, 88.1%, 63.7%);
   --lightblue: hsl(193, 65.9%, 75.9%);
}

.main-block {
   background-color: var(--orange);
   border: 1px solid black;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 15px;
   padding: 15px;
}

.description-span {
   text-align: center;
   margin-bottom: 20px;
}

body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
   background-color: var(--lightblue);
}
